---
layout: default
---
<div class="post">

  <header class="post-header">
	{% assign post = page %}
	{% if post.categories.size > 0 %}
		{% capture cats_content %}Posted in {% if post.categories.size == 1 %}<i class="fa fa-tag"></i>{% else %}<i class="fa fa-tags"></i>{% endif %}: {% endcapture %}
		{% for post_cat in post.categories %}
			{% for data_cat in site.data.categories %}
				{% if data_cat.slug == post_cat %}
					{% assign cat = data_cat %}
				{% endif %}
			{% endfor %}
			{% if cat %}
				{% capture cats_content_temp %}{{ cats_content }}<a href="/lectureNotes/blog/categories/{{ cat.slug }}/">{{ cat.name }}</a>{% if forloop.last == false %}, {% endif %}{% endcapture %}
				{% assign cats_content = cats_content_temp %}
			{% endif %}
		{% endfor %}
	{% else %}
		{% assign cats_content = '' %}
	{% endif %}

	<p id="post-meta">{{ cats_content }}</p>
	
    <h1>{{ page.title }}</h1>
    <p class="meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
  </header>

  <article class="post-content">
  {{ content }}
  </article>

</div>
